<div class="app-container">
  <app-toolbar
    (action)="onToolbarAction($event)"
    (fileSelected)="onFileSelected($event)"
    [hasUndo]="hasUndo"
    [hasRedo]="hasRedo"
  ></app-toolbar>
  <app-image-editor
    #imageEditor
    [theme]="editorTheme"
    [menu]="menuItems"
    initMenu="filter"
    menuBarPosition="left"
    (submenuChanged)="onSubmenuChanged($event)"
    (imageLoaded)="onImageLoaded($event)"
    (objectAdded)="onObjectAdded($event)"
    (objectSelected)="onObjectSelected($event)"
    (objectActivated)="onObjectActivated($event)"
    (objectRemoved)="onObjectRemoved($event)"
    (undoRedoState)="onUndoRedoStateChange($event)"
  ></app-image-editor>
  <app-properties-panel
    [properties]="selectedObjectProperties"
    (propertiesChange)="onPropertiesChange($event)"
  ></app-properties-panel>
</div>
